/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #464646;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/reset.scss */
html{
	background-color: #f0f0f0;
}
body {
  line-height: 1;
  background-color: #f0f0f0;
}

/* line 34, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 49, ../sass/reset.scss */
a {
  text-decoration: none;
  color: black;
}

/*start here*/
.nav{
	color: white;
	span{
		color: white;
	}
}
.searcharea{
	position: relative;
	margin-top: 200px;
	width: 100%;
	input{
		width: 50%;
	  height: 38px;
	  position: relative;
	  margin-left: 20%;
	}
	.searchBtn{
		span{
			color: white;
		}
	}
}

.tagarea{
	min-height: 100px;
	width: 60%;
	position: relative;
	left: 20%;
	.tagstar{
		position: relative;
		background-color: rgb(244,67,54);
	}
	.tag{
		position: relative;
		.close{
			position: absolute;
			width: 100%;
			right: 0;
			opacity: 0.1;
		}
		.close:hover{
			position: absolute;
			opacity: 1;
		  width: 100%;
		  z-index: 100;
		  left: 0;
		  background-color: rgba(0,0,0,.8);
		}
	}
	button{
		margin: 30px 20px 0 0 ;
		span{
			color: white;
		}
	}
}

.selectorarea{
	text-align: center;
	.select{
		margin: 10px 30px;
		display: inline-block;
	}
}

.list{
	.searchlistcard{
		max-width: 1080px;
  	margin: auto;
  	margin-top: 50px;
  	.searchList{

			tr.ng-scope:hover {
			  background-color: rgba(244, 67, 54, 0.46);
			  cursor: pointer;
			}
  		.title{
  			td{
  				border-bottom: 1px solid rgba(0,0,0,.1);
  			}
  		}
  		td{
  			height: 30px;
  			line-height: 30px;
  			border-right: 1px solid rgba(0,0,0,.1);
  			border-left: 1px solid rgba(0,0,0,.1);
  		}
  	}
	}
}



.pager{
	text-align: center;
  width: 100%;
  margin-top: 30px;
  .pageS {
	  margin-right: 10px;
	  background-color: rgb(255, 255, 255);
	  padding: 10px 15px;
	  color: rgb(70, 70, 70);
	  box-shadow: 0 2px 5px rgba(0,0,0,.2);
	}
	.pageS.active {
	  background-color: rgb(244, 67, 54);
	  color: white;
	}
}


.course_info{
	&_basic{
		position: relative;
		min-height: 300px;
		max-width: 1200px;
		margin: auto;
		margin-top: 50px;
		text-align: center;
		.rateBtn{
		  position: absolute;
		  right: 0;
		  bottom: 0px;
		  width: 100px;
		  height: 100px;
		  border-radius: 50%;
		  z-index: 2;
		  span{
		  	color: white;
		  }
		}
		.title{
			font-size: 2em;
			margin: 30px 0;
		}
		.stars{
			margin-top: 20px;
			img{
				width: 50px;
				margin-left: 20px;
			}
		}
		.otherContent{
			position: absolute;
		  bottom: 0;
		  width: 100%;
		  margin-bottom: 50px;
		  .cc{
		  	display: inline-block;
			  font-size: 1em;
			  margin: 0 20px;
		  }
		}
	}
}

.commentContainer{
	max-width: 1200px;
	margin: auto;
	.starSelector{
		width: 50px;
		display: inline-block;
	}
	.submitBtn{
		span{
			color: white;
		}
	}
	.comment_card{
		min-height: 200px;
		position: relative;
		width: 100%;
		margin: auto;
		margin-top: 20px;
		display: inline-block;
		.profile{
			width: 200px;
	  	text-align: center;
	  	margin-top: auto;
	  	margin-bottom: auto;
	  	display: inline-block;
	  	margin-top: 25px;
			.user_img{
				max-width: 100px;
			}
		}
		.comment{
			display: inline-block;
			font-size: 1.6em;
			position: relative;
			bottom: 35px;
		}
		.stars{
			display: inline-block;
			float: right;
			position: relative;
			top: 70px;
			right: 50px;
			img{
				width: 40px;
			}
		}
	}
}





