<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<title>MRT Express</title>
	<script type="text/javascript" src="javascripts/angular-1.3.15.min.js"></script>
  <script type="text/javascript" src="javascripts/angular-animate-1.3.15.min.js"></script>
  <script type="text/javascript" src="javascripts/angular-aria-1.3.15.min.js"></script>
  <script type="text/javascript" src="javascripts/angular-material-0.9.7.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="javascripts/d3.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery.touchSwipe.min.js"></script>
  <script type="text/javascript" src="javascripts/hammer.js"></script>
  <script type="text/javascript" src="javascripts/ng-cordova-0.1.17-alpha.min.js"></script>
  <script type="text/javascript" src="cordova.js"></script>
  <script type="text/javascript" src="javascripts/app.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/angular-material-0.9.7.min.css">
  <link rel="stylesheet" type="text/css" href="fonts/fonts.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body ng-app="MRT_Express" ng-controller="platform_controller" ng-init="Init()">
<!-- ============================= 月台頁 ========================================= -->
	<div class="station_platfrom">
		<nav class="mainnav">
			<md-button class="mainnav_menubtn" href="index.html"><img class="mainnav_menubtn_img" src="images/back.png"></md-button>
			<a class="mainnav_logobtn">{{station_name}}</a>
			<md-button class="mainnav_locationbtn" ng-controller="list_controller" ng-click="FindLocation()" href="#"><img class="mainnav_locationbtn_img" src="images/location.png"></md-button>
		</nav>
		<nav class="secondnav secondnav_forplatform">
			<a ng-repeat='platformMin in platformShow' ng-click="clickScroll($index)"><div ng-class='platformNameClass($index)' ng-style="platformNameStyle($index)" class="secondnav_forplatform_platformname colorline{{platformMin.line}}"><div class="textarea"><div class="text">月台{{platformMin.pid}}-往</div><div class="text">{{platformMin.train_direction}}</div></div></div></a>
		</nav>
		<md-button class="md-fab showBigBtn" aria-label="Eat cake" ng-click="platformBigToggle($event)" style="width:60px;height:60px;background:rgb(37, 117, 186);box-shadow: 0px 2px 10px rgba(0,0,0,.2);">
      <img src="images/bigger.png" style="width: 50%;margin-top: 30%;">
    </md-button>
		<div class="platformContainer">
			<div class="platformContainer_platfroms">
				<div class="platformContainer_platform" ng-repeat="platform in platformShow" ng-style="platformStyle">
					<div class="main main_forplatform">
						<div class="platforminfo">
							<div class="platforminfo_left">
								<div class="carriage {{train.label}}" ng-repeat="train in platform.train"ng-style="carriageEmptyStyle(train.door)">
									<span class="forclick" ng-click="platformBigToggleSpecial($event)" ng-show="carriageEmptyShow(train.door)" href="#{{train.label}}"></span>
									<div class="arrow"></div>
									<div class="platform_info">
										<div><span ng-repeat="type in train.type"><img ng-src="images/{{type}}.jpg"></span><span ng-repeat="station_place in train.station_place"><img ng-src="images/{{station_place}}.bmp"></span></div>
										<div ng-repeat="transfer in train.transfer"><img ng-src="images/line{{transfer}}.png"></div>
										<div class="exitDiv"><span ng-repeat="exit in train.exit_no" class="exit"><img src="images/exit.bmp"><span class="text">{{exit}}</span></span></div>
									</div>
								</div>
							</div>
							<div class="platforminfo_right">
								<div class="platforminfo_right_train_small_head"></div>
								<div ng-repeat="train in platform.train" class="platforminfo_right_train_small colorline{{platform.line}}b"><h1 class="platforminfo_right_train_small_train_label">第{{train.label.split('train')[1]}}車</h1><span class="forclick2" ng-click="platformBigToggleSpecial($event)" href="#{{train.label}}"></span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- ============================= 月台放大頁 ========================================= -->
	<div class="station_platfrom_big" style="display:none">
		<div class="platformContainer">
			<nav class="mainnav" ng-style="platformBigNavStyle()">
				<md-button class="mainnav_menubtn" ng-click="platformBigToggle($event)" href="#"><img class="mainnav_menubtn_img" src="images/back.png"></md-button>
				<h3 class="mainnav_logobtn platform_name">月台{{currentPlatformNav.pid}}|往{{currentPlatformNav.train_direction}}</h3>
			</nav>
			<div class="platformContainer_platfroms">
				<div class="platformContainer_platform big" ng-repeat="platform in platformShow" ng-style="platformStyle">
					<div class="main main_without_secondnav">
						<div class="station_platfrom_big_train">
							<div class="station_platfrom_big_train_head"></div>
							<div ng-repeat="train in platform.train" class="station_platfrom_big_train_carriage {{train.label}}">
								<div class="station_platfrom_big_train_carriage_carriageNum" id="train{{train.label.split('train')[1]}}">第{{train.label.split('train')[1]}}車</div>
								<div ng-repeat="door in train.door" class="station_platfrom_big_train_carriage_door door{{door.label}}">
									<div class="station_platfrom_big_train_carriage_door_line">
										<div class="station_platfrom_big_train_carriage_door_info label">&nbsp;&nbsp;{{door.label}}號門</div>
										<div class="station_platfrom_big_train_carriage_door_info type">
											<span ng-repeat="item in door.type"><img ng-src="images/{{item}}.jpg"></span>
											<span ng-repeat="item in door.station_place"><img ng-src="images/{{item}}.bmp"></span>
										</div>
									</div>
									<div class="station_platfrom_big_train_carriage_door_info exit_no">
										<button ng-repeat="item in door.exit" class="exit exit{{item.split(' ')[0]}}" ng-click="cardShowFun(item.split(' ')[0])"><span class="no">出口{{item.split(' ')[0]}}</span><span>{{item.split(' ')[1]}}</span></button>
									</div>
									<div class="station_platfrom_big_train_carriage_door_info transfer">
										<span ng-repeat="item in door.transfer"><img ng-src="images/line{{item}}.png"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cardContainer" ng-show="cardShow">
				<div class="card">
					<button ng-click="cardShowFunClose()" class="closeBtn">X</button>
					<div class="platform_exit_headline"><h1>{{platformBigCard.no}}號出口資訊</h1></div>
					<div class="platform_exit_list">
						<ul>
							<li>海山高中</li>
							<li>南雅夜市</li>
							<li>北門市場</li>
							<li>板橋農會</li>
							<li>原素食府</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="location-loader hide">
    <svg version="1.1" class="svg-loader" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80" xml:space="preserve">
    <path id="spinner" fill="#D43B11" d="M40,72C22.4,72,8,57.6,8,40C8,22.4,22.4,8,40,8c17.6,0,32,14.4,32,32c0,1.1-0.9,2-2,2s-2-0.9-2-2c0-15.4-12.6-28-28-28S12,24.6,12,40s12.6,28,28,28c1.1,0,2,0.9,2,2S41.1,72,40,72z" transform="rotate(267.311 40 40)">
      <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 40 40" to="360 40 40" dur="0.6s" repeatCount="indefinite"></animateTransform>
    </path>
    </svg>
    <div>定位中......</div>
  </div>
</body>
</html>